/* Base Styles */
fieldset {
    border: none;
}

/* Login Background */
.login-background {
    width: 100%;
    height: 40vh;
    background-color: #7494EA;
    display: flex;
    justify-content: center;

}

/* Login Field */
.login-field {
    height: fit-content;
    background-color: #b1ede8;
    overflow: hidden;
    border-bottom: solid 6px #6d435a;
    border-radius: 40px;
    /* Reduced margin for better fit on smaller screens */
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    /* Makes input and button stack on top of each other for small screens */
    width: 90%;
    /* Make the width responsive */
    max-width: 600px;
    /* Set a maximum width to prevent it from being too wide on large screens */
    margin-left: auto;
    margin-right: auto;
    /* Centers the login field horizontally */
    margin-top: 25vh;
    display: row;
}