.navigation {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    background-color: #FF70A6;
    color: rgb(221, 217, 217);
    /* Playful rounded font stack */
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif;

    margin-top: 0;
    text-decoration: none;
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 15%;
}

.brand-logo {
    /* Spacing from the left edge */
    margin-left: 1rem;
    height: 7rem;
}

.navigation-menu {
    /* Spacing from the right edge */
    margin-right: 3rem;
    display: flex;
}

.navigation li {
    display: inline-block;
    /* Simplified margin to apply horizontally */
    margin: 1rem;

}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5rem;

}



.navigation a.active {
    font-weight: bold;
    border-bottom: 5px solid #f9fafb2a;


}

.logout-btn {
    background-color: #FFFFFF;
    color: #111827;
}

.logout-btn:hover {
    background-color: #f9fafb;
}