/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles */
  .profile-container {
    max-width: 1440px;
    height: 693px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7494EA; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading styles */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Cursive, sans-serif; 
  }

  /* Styling for the title "Your Translation History" */
  .profile-title {
    display: flex;
    width: 1336px;
    height: 217px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: "Figma Hand", cursive;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
  }
  
  /* Button styles */
  button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* TranslationLog styles */
  .translation-log {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }

  /* Styles for the translation log list */
.translation-list {
    list-style-type: decimal; 
    padding-left: 20px; 
}

  /* Styles for each translation item */
  .translation-log-item {
    margin-bottom: 10px; 
    padding: 15px; 
    border-radius: 8px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px; 
    font-family: Arial, sans-serif; 
    color: #333; 
}
  
  /* Style for each translation log */
  .translation-log-container {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    background-color: #b1ede8;
    border-radius: 13px;
    padding: 40px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    position: relative;
  }
  
/* Styles for the inner white box */
.inner-white-box {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 80%;
  }
  
  /* New styles for the Clear Translations button */
  .clear-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff5a5a;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
  }
  
  .clear-button:hover {
    background-color: #ff3b3b;
  }