/* Container styles */
.profile-container {
  padding: 4rem;
  background-color: #7494EA;
  border-bottom: solid 6px #6d435a;
  border-radius: 40px;
  box-sizing: border-box;
  width: 75vw;
  height: fit-content;
  margin: 0;
  /* Ensuring no margins are affecting positioning */
}



/* Clear Translations button */
.clear-button {
  background-color: #ff5a5a;
  color: #fff;
}

.clear-button:hover {
  background-color: #ff3b3b;
}

/* TranslationLog styles */
.translation-log {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  background-color: #b1ede8;
  border-radius: 13px;
  padding: 40px;
}

.translation-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.translation-log-item {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  color: #333;
}

.inner-white-box {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
}