.App {
    width: 100vw;
    height: 100vh;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif;
}

/* Global styles for buttons */
button,
.input-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    /* Inherits the font-family from the parent */
    font-family: inherit;
    transition: background-color 0.3s ease;

}

button {
    padding: 10px 20px;
    color: #fff;
}


.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    position: relative;
    padding-bottom: 10%;
    overflow: auto;
}

/* styling for login-field and translate-field*/
input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
    background: #fff url('./keyboard.png') 20px center/2rem no-repeat;
    padding: 0 20px 0 60px;
    min-height: 3rem;
    font-size: medium;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FF70A6;
}


.input-button {
    background-color: #FF70A6;
    color: white;
    height: 3rem;
    border-radius: 0 50px 50px 0;
    width: 20%;
}

.input-button:hover {
    background-color: #5a76d9;
}

h2 {
    color: #352D39;
    width: 100%;
    padding-bottom: 2rem;
}

/* Removes auto border for fieldset*/
fieldset {
    border: none;
}

/* Background Styles */
.half-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #FF70A6;
    z-index: -1;
}

/* Content Box */
.content-box {
    padding: 3rem;
    background-color: #7494EA;
    border-bottom: 6px solid #6d435a;
    border-radius: 40px;
    box-sizing: border-box;
    width: 75vw;
    margin-top: 15vh;
}

.input-field {
    box-sizing: border-box;
    border-radius: 50px;
    width: 100%;
    padding: 0;
}

.input-field:focus-within {
    border: 2px solid #FF70A6;
}

.translator {
    align-content: center;
    width: 100vw;
}

.sign-container {
    background-color: white;
    border-radius: inherit;
}