/* Input Field */
input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: none;
    border-radius: 50px 0 0 50px;
    font-size: 16px;
    background-color: white;
    background-image: url('./user-icon.png');
    background-position: 20px center;
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 60px;
    margin-bottom: 10px;
    /* Added margin for separation from the button on small screens */
}

/* Inner border when focused */
input[type=text]:focus {
    outline: none;
    /* Removing the default browser focus outline */
    box-shadow: inset 0 0 0 2px #7494EA;
    /* This creates the inner border effect on focus, you can adjust the color if needed */
}

/* Button Styling */
.input-button {
    width: auto;
    background-color: #7494EA;
    color: white;
    padding: 12px 20px;
    /* Match with input padding */
    border-radius: 0 30px 30px 0;
    /* Adjust to fit seamlessly */
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.input-button:hover {
    background-color: #5a76d9;
}

/* Media Query for larger screens */
@media screen and (max-width: 300px) {
    .login-field {
        flex-direction: row;
        /* Places input and button side-by-side on larger screens */
    }

    input[type=text] {
        flex: 1;
        margin-right: 10px;
    }

    button {
        width: auto;
        /* Auto width on larger screens */
    }
}

h2 {
    color: #352D39;
}