body {
  /* Reset margin*/
  margin: 0;

  /* Font settings */
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Marker Felt', sans-serif;
  /* Font smoothing for macOS */
  -webkit-font-smoothing: antialiased;
  /* Font smoothing for non-macOS */
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* Background */
  background-color: #FFFCF9;
}